
.nav1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sub1{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.navbar-nav{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 40%;
    
    
    
}
.logo{
    object-fit: cover;
}
.text1{
    font-size: 50px;
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    font-size: 70px;
    text-align: center;
    font-weight: 500;
    line-height: 99%;
    
    
}
.w1{
    color: rgb(7, 7, 84);
    padding-top:6%;
    width: 60%;
     
}
.ws1{display: flex;
    align-items: center;
    justify-content:center ;
    text-align: center;
    font-size: 23px;
    padding-top: 30px;
    
}
.btn11 button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 60px;
    font-size: 18px;
    
}
.font22{
    font-size: 210%;
    font-weight: 400;
    height: 150%;
    width: 100%;
    padding-top: 3%;
}
.font33{
    font-size: 130%;
    padding-top:1%;
    color: rgb(68, 65, 65);
    
    
}
.text2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.items1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 3%;
    width: 70%;
    height: auto;
    margin-left: 15%;

}
.sp{
    font-size: 110%;
}
.maindiv2{
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
}
.text5{
    font-size: 170%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}
.squares{
    margin: 0px;
    padding: 0px;
  background-color:  rgb(240, 240, 240);

  width:100% ;
  height:auto;
  flex-wrap: wrap;
  padding-bottom: 5%;
  
}
.sq1{
    width: 13%;
    height: 340px;
 background-color: white;
 text-align: center;
 font-size: 22px;
 font-weight: 500;
 /* border-width: 30px; */
 border-radius: 10px;
 margin-top: 2%;
 
}
.sq1 p{
 padding-bottom: 2%;
}

.sq1 img {
    width:66% ;
    height: 66%;
    align-items: center;
    padding-top: 20px;
    

}
.l3{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:40px;
    
    
    
}
.l2{
    display: flex;
    align-items: center;
    justify-content:center;
    column-gap:40px;
    text-align: center;
    
   
}
.l1{
    display: flex;
    align-items: center;
    justify-content:center;
    column-gap:40px;
    
     
}
.k2{
    padding-top: 2%;
  
    
}
.btn2{
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
      width: 100%;
      

}

.btn2 button{
    width: 12%;
    height: 65px;
    background-color: white;
    font-weight: 600;
}
.sq2{
    width: 13%;
    height: 300px;
 background-color: white;
 text-align: center;
 font-size: 25px;
 font-weight: 500;
 /* border-width: 30px; */
 border-radius: 10px;
 margin-top: 2%;
 
}
.sq2 img {
    width:66% ;
    height: 66%;
    align-items: center;
    padding-top: 20px;
    

}
.sq2 p{
    padding-top: 15%;
}
.sq2 img{
    padding-top: 10%;
}
.square1 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    font-size: 36px;
    font-weight: 400;
}
.rev img{

    width: 10%;
   
    
}
.rev div span{
    text-decoration: underline;
    font-weight: 600;
    
}
.rev{
    display: flex;
    align-items: center;
    column-gap:  1%;
    padding-left: 25%;

}
.rev1{
    display: flex;
    align-items: center;
    column-gap:  1%;
}
.rev2{
    display: flex;
    align-items: center;
    column-gap:  1%;
    padding-left: 25%;
}
.rev3{
    display: flex;
    align-items: center;
    column-gap:  1%;
    margin-left: 3%;
}
.rev2 img{
    width: 10%; 

}

.rev3 img{
    width: 10%;   

}
.rev1 img{
    width: 10%;
}
.sb1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
    padding-top: 4%;
    
}
.sb2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
    padding-top: 4%;

}
.a11{
    font-size: 20px;
    padding-right: 10%;
   
}
.a11 p{
    color: #686767;
}
.a22{
    font-size: 20px;
}
.a22 p{
    color: #686767;
}
.a33{
    font-size: 20px;
    padding-right: 10%;
}
.a33 p{
    color: #686767;
}
.a44{
    font-size: 20px;
}
.a44 p{
    color: #686767;
}
.r44{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
   font-weight: 300;
   text-decoration: underline;
   margin-top: 5%;
   padding-bottom: 5px;
   color: #686767;
}
.fbox{
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 5%;
}
.fbox button{
    width: 10%;
    /* column-gap: 10%; */

}
.btn6{
    width:100%;
    
    
  
}
.fbox h1{
    margin-top: 70%;
    font-size: 35px;
    font-weight:400 ;
}
.fbox p{
    padding-top: 5%;
    color: #686767;
}





footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 ;
    padding: 0 20px;
}

.footer-content {
    text-align: center;

}
.footer-content p img{
    width: 4%;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}

.container5{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     background-color:white;
     color: black;
     margin-right: 20%;
     margin-top: 3%;
}
.lc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    column-gap:10%;
    
    
}
.footer-content h1{
    font-size: 15px;
}
.footer-content p{
    color: #686767;
}
.e6{
    margin-left: 33%;
    
}
.e5{
    width: 100%;
}
.ic3 i{
 
  color: #686767;

  

}
.e6 div i{
    column-gap: 10%;
}

 .footer-content p:hover{
    color:black;
}

.ic3 i:hover{
    color: rgb(8, 118, 243);
}